### Step 1: Import Required Libraries

We begin by importing the libraries needed for data loading, cleaning, transformation, and visualization. Pandas and NumPy are used for data manipulation, while Matplotlib and Seaborn are used for plotting.

In [1]:
### Step 1: Import Required Libraries

import numpy as np

import pandas as pd

import matplotlib.pyplot as plt

import seaborn as sns

In [2]:
import pandas as pd

# Load the dataset
df = pd.read_csv('AviationData.csv', encoding='latin1')

# Display the number of rows and columns
print(f"Number of rows: {df.shape[0]}")
print(f"Number of columns: {df.shape[1]}")

# Display non-null counts for each column
print(df.notna().sum())

Number of rows: 88889
Number of columns: 31
Event.Id                  88889
Investigation.Type        88889
Accident.Number           88889
Event.Date                88889
Location                  88837
Country                   88663
Latitude                  34382
Longitude                 34373
Airport.Code              50132
Airport.Name              52704
Injury.Severity           87889
Aircraft.damage           85695
Aircraft.Category         32287
Registration.Number       87507
Make                      88826
Model                     88797
Amateur.Built             88787
Number.of.Engines         82805
Engine.Type               81793
FAR.Description           32023
Schedule                  12582
Purpose.of.flight         82697
Air.carrier               16648
Total.Fatal.Injuries      77488
Total.Serious.Injuries    76379
Total.Minor.Injuries      76956
Total.Uninjured           82977
Weather.Condition         84397
Broad.phase.of.flight     61724
Report.Status             82505
Publication.Date          75118
dtype: int64

C:\Users\elili\AppData\Local\Temp\ipykernel_23268\1587660226.py:4: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('AviationData.csv', encoding='latin1')

In [3]:
# Load the dataset
df = pd.read_csv('AviationData.csv', encoding='latin1')  # adjust filename if yours is different

# Preview the first few rows
df.head()

C:\Users\elili\AppData\Local\Temp\ipykernel_23268\4259014182.py:2: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('AviationData.csv', encoding='latin1')  # adjust filename if yours is different

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

#### Load and Inspect the Dataset

We load the aviation accident data and begin by inspecting the structure of the dataset. This includes checking for missing values, examining data types, and understanding the spread of values using summary statistics.

In [4]:
# Check column data types and non-null counts
df.info()

# Count missing values per column
df.isnull().sum().sort_values(ascending=False)

# Display basic descriptive statistics
df.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
count,88889,88889,88889,88889,88837,88663,34382,34373,50132,52704,...,82697,16648,77488.000000,76379.000000,76956.000000,82977.000000,84397,61724,82505,75118
unique,87951,2,88863,14782,27758,219,25592,27156,10374,24870,...,26,13590,NaN,NaN,NaN,NaN,4,12,17074,2924
top,20001212X19172,Accident,CEN22LA149,1984-06-30,"ANCHORAGE, AK",United States,332739N,0112457W,NONE,Private,...,Personal,Pilot,NaN,NaN,NaN,NaN,VMC,Landing,Probable Cause,25-09-2020
freq,3,85015,2,25,434,82248,19,24,1488,240,...,49448,258,NaN,NaN,NaN,NaN,77303,15428,61754,17019
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.647855,0.279881,0.357061,5.325440,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.485960,1.544084,2.235625,27.913634,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,0.000000,0.000000,1.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,0.000000,0.000000,2.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,349.000000,161.000000,380.000000,699.000000,NaN,NaN,NaN,NaN

#### Data Cleaning â€“ Filtering Aircraft and Events

To meet the clientâ€™s needs, we filter the dataset to include only events relevant to commercial and passenger aircraft with potential modern relevance.

- Only include events from 1983 onward
- Filter for aircraft with category "Airplane"
- Filter for professionally built aircraft (Amateur.Built = "No")

In [5]:
df['Event.Date'] = pd.to_datetime(df['Event.Date'], errors='coerce')

In [6]:
# Filter 1: Remove events before 1983
df = df[df['Event.Date'] >= '1983-01-01']

# Filter 2: Keep only airplanes
df = df[df['Aircraft.Category'] == 'Airplane']

# Filter 3: Keep only professional builds (Amateur.Built == 'No')
df = df[df['Amateur.Built'] == 'No']

df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
4149,20001214X42478,Incident,LAX83IA149B,1983-03-18,"LOS ANGELES, CA",United States,NaN,NaN,LAX,LOS ANGELES INTL,...,Unknown,NaN,NaN,NaN,NaN,588.0,VMC,Standing,Probable Cause,04-12-2014
4150,20001214X42478,Incident,LAX83IA149A,1983-03-18,"LOS ANGELES, CA",United States,NaN,NaN,LAX,LOS ANGELES INTL,...,NaN,"Singapore Airlines, Ltd.",NaN,NaN,NaN,588.0,VMC,Taxi,Probable Cause,04-12-2014
4171,20001214X42331,Accident,ATL83FA140,1983-03-20,"CROSSVILLE, TN",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,1.0,NaN,NaN,IMC,Cruise,Probable Cause,02-05-2011
4285,20001214X42672,Accident,FTW83LA177,1983-04-02,"MCKINNEY, TX",United States,NaN,NaN,TX05,AERO COUNTRY,...,Skydiving,NaN,1.0,NaN,NaN,4.0,VMC,Standing,Probable Cause,17-10-2016
5957,20001214X44248,Incident,MIA83IA210,1983-08-21,"NORFOLK, VA",United States,NaN,NaN,NaN,NaN,...,Unknown,NaN,NaN,NaN,NaN,289.0,VMC,Cruise,Probable Cause,01-02-2016

### Constructing Fatal/Serious Injury Metric

We estimate the number of passengers per event by summing all injury and uninjured counts.  
We then calculate the injury rate as the fraction of passengers who were either seriously or fatally injured.

NaNs in the injury columns are treated as 0s. Any rows where the total number of passengers is 0 are excluded from the rate calculation.

In [7]:
# First, fill NaNs with 0s for injury-related columns
injury_cols = ['Total.Fatal.Injuries', 'Total.Serious.Injuries', 
               'Total.Minor.Injuries', 'Total.Uninjured']
df[injury_cols] = df[injury_cols].fillna(0)

# Estimate total people onboard
df['Estimated.Passengers'] = df['Total.Fatal.Injuries'] + df['Total.Serious.Injuries'] + \
                             df['Total.Minor.Injuries'] + df['Total.Uninjured']

# Avoid divide-by-zero
df['Estimated.Passengers'] = df['Estimated.Passengers'].replace(0, np.nan)

# Construct injury rate metric
df['Injury.Rate'] = (df['Total.Fatal.Injuries'] + df['Total.Serious.Injuries']) / df['Estimated.Passengers']
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Estimated.Passengers,Injury.Rate
4149,20001214X42478,Incident,LAX83IA149B,1983-03-18,"LOS ANGELES, CA",United States,NaN,NaN,LAX,LOS ANGELES INTL,...,0.0,0.0,0.0,588.0,VMC,Standing,Probable Cause,04-12-2014,588.0,0.0
4150,20001214X42478,Incident,LAX83IA149A,1983-03-18,"LOS ANGELES, CA",United States,NaN,NaN,LAX,LOS ANGELES INTL,...,0.0,0.0,0.0,588.0,VMC,Taxi,Probable Cause,04-12-2014,588.0,0.0
4171,20001214X42331,Accident,ATL83FA140,1983-03-20,"CROSSVILLE, TN",United States,NaN,NaN,NaN,NaN,...,1.0,1.0,0.0,0.0,IMC,Cruise,Probable Cause,02-05-2011,2.0,1.0
4285,20001214X42672,Accident,FTW83LA177,1983-04-02,"MCKINNEY, TX",United States,NaN,NaN,TX05,AERO COUNTRY,...,1.0,0.0,0.0,4.0,VMC,Standing,Probable Cause,17-10-2016,5.0,0.2
5957,20001214X44248,Incident,MIA83IA210,1983-08-21,"NORFOLK, VA",United States,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,289.0,VMC,Cruise,Probable Cause,01-02-2016,289.0,0.0

Cleaning the Make Column

We inspect and clean the `Make` column to ensure consistency in manufacturer names.

In [8]:
# Inspect first
df['Make'].value_counts(dropna=False).head(20)

# Step 1: Clean formatting
df['Make'] = df['Make'].str.upper().str.strip()

# Step 2: Count occurrences
make_counts = df['Make'].value_counts()

# Step 3: Filter to Makes with >= 50 records
valid_makes = make_counts[make_counts >= 50].index
df = df[df['Make'].isin(valid_makes)]
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Estimated.Passengers,Injury.Rate
4150,20001214X42478,Incident,LAX83IA149A,1983-03-18,"LOS ANGELES, CA",United States,NaN,NaN,LAX,LOS ANGELES INTL,...,0.0,0.0,0.0,588.0,VMC,Taxi,Probable Cause,04-12-2014,588.0,0.0
4171,20001214X42331,Accident,ATL83FA140,1983-03-20,"CROSSVILLE, TN",United States,NaN,NaN,NaN,NaN,...,1.0,1.0,0.0,0.0,IMC,Cruise,Probable Cause,02-05-2011,2.0,1.0
4285,20001214X42672,Accident,FTW83LA177,1983-04-02,"MCKINNEY, TX",United States,NaN,NaN,TX05,AERO COUNTRY,...,1.0,0.0,0.0,4.0,VMC,Standing,Probable Cause,17-10-2016,5.0,0.2
6760,20001214X45013,Incident,CHI84IA041,1983-11-08,"CHICAGO, IL",United States,NaN,NaN,ORD,O'HARE,...,0.0,0.0,0.0,100.0,VMC,Taxi,Probable Cause,11-06-2018,100.0,0.0
6806,20001214X45188,Accident,NYC84LA028,1983-11-13,"MARTHA'S VINEYARD, MA",United States,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,VMC,Climb,Probable Cause,05-05-2011,1.0,0.0

In [9]:
df['Make'].value_counts().head(10)

Make
CESSNA                7146
PIPER                 3989
BEECH                 1431
BOEING                1264
MOONEY                 363
AIRBUS                 243
CIRRUS DESIGN CORP     220
BELLANCA               219
AIR TRACTOR INC        219
MAULE                  215
Name: count, dtype: int64

Inspecting and Cleaning the Model Column

We remove any missing `Model` values and standardize the formatting. Upon inspection, some model names are shared across different manufacturers, so we create a new column `Plane.Type` by combining the `Make` and `Model` columns to uniquely identify each aircraft type.

In [10]:
# Drop rows where Model is NaN
df = df[df['Model'].notna()]

# Optional: Clean the Model column formatting
df['Model'] = df['Model'].str.upper().str.strip()

# Preview top model values
df['Model'].value_counts().head(10)

Model
172     769
737     403
152     316
182     304
172S    276
PA28    273
172N    249
SR22    240
180     213
A36     181
Name: count, dtype: int64

In [11]:
# Count how many unique makes exist per model
model_make_check = df.groupby('Model')['Make'].nunique().sort_values(ascending=False)

# Show top models used by multiple makes
model_make_check[model_make_check > 1].head(10)

Model
S2R      3
7AC      3
500      3
8KCAB    3
8GCBC    3
400      3
7GCBC    3
7GCAA    3
7EC      3
7ECA     3
Name: Make, dtype: int64

In [12]:
# Combine Make and Model into one column
df['Plane.Type'] = df['Make'] + ' ' + df['Model']

# Show a few rows to confirm
df[['Make', 'Model', 'Plane.Type']].head()

              Make      Model          Plane.Type
4150        BOEING        747          BOEING 747
4171         PIPER  PA-28-140     PIPER PA-28-140
4285  DE HAVILLAND      DHC-6  DE HAVILLAND DHC-6
6760        BOEING    727-200      BOEING 727-200
6806         BEECH        C35           BEECH C35

In [13]:
# Show top models
df['Model'].value_counts().head(10)

# Show a sample of your new unique aircraft ID
df[['Make', 'Model', 'Plane.Type']].head()

              Make      Model          Plane.Type
4150        BOEING        747          BOEING 747
4171         PIPER  PA-28-140     PIPER PA-28-140
4285  DE HAVILLAND      DHC-6  DE HAVILLAND DHC-6
6760        BOEING    727-200      BOEING 727-200
6806         BEECH        C35           BEECH C35

Cleaning Other Potentially Relevant Columns

We inspect and clean additional columns that may impact injury/destruction outcomes:

In [14]:
# Columns to explore
columns_to_check = ['Engine.Type', 'Weather.Condition', 'Number.of.Engines', 
                    'Purpose.of.flight', 'Broad.phase.of.flight']

# Check unique values for each column
for col in columns_to_check:
    print(f"\n{col}:\n", df[col].value_counts(dropna=False))

Engine.Type:
 Engine.Type
Reciprocating      12835
NaN                 3214
Turbo Prop           931
Turbo Fan            701
Unknown              105
Turbo Jet             71
Geared Turbofan       12
Turbo Shaft            9
UNK                    1
Name: count, dtype: int64

Weather.Condition:
 Weather.Condition
VMC    14295
NaN     2417
IMC      905
Unk      186
UNK       76
Name: count, dtype: int64

Number.of.Engines:
 Number.of.Engines
1.0    13222
2.0     2470
NaN     2089
4.0       67
3.0       26
0.0        5
Name: count, dtype: int64

Purpose.of.flight:
 Purpose.of.flight
Personal                     9844
NaN                          3047
Instructional                2410
Aerial Application            724
Business                      409
Unknown                       303
Positioning                   269
Skydiving                     157
Aerial Observation            147
Other Work Use                121
Banner Tow                     86
Flight Test                    73
Ferry                          72
Executive/corporate            65
Glider Tow                     29
Public Aircraft - Federal      28
Public Aircraft                27
Public Aircraft - State        21
Air Race show                  15
Firefighting                   12
Public Aircraft - Local        11
PUBS                            3
Air Race/show                   2
Air Drop                        2
ASHO                            2
Name: count, dtype: int64

Broad.phase.of.flight:
 Broad.phase.of.flight
NaN            15427
Landing         1110
Takeoff          425
Cruise           238
Approach         210
Maneuvering      127
Taxi              99
Go-around         81
Descent           62
Climb             52
Standing          35
Unknown           11
Other              2
Name: count, dtype: int64

In [15]:
# Clean Engine.Type
df['Engine.Type'] = df['Engine.Type'].str.strip().str.upper()

# Clean Weather.Condition
df['Weather.Condition'] = df['Weather.Condition'].str.strip().str.upper()

# Handle invalid Number.of.Engines (e.g., 0 engines makes no sense)
df = df[df['Number.of.Engines'].notna()]
df = df[df['Number.of.Engines'] > 0]

# Clean Purpose.of.flight
df['Purpose.of.flight'] = df['Purpose.of.flight'].str.strip().str.upper()

# Clean Broad.phase.of.flight
df['Broad.phase.of.flight'] = df['Broad.phase.of.flight'].str.strip().str.upper()
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Estimated.Passengers,Injury.Rate,Plane.Type
4150,20001214X42478,Incident,LAX83IA149A,1983-03-18,"LOS ANGELES, CA",United States,NaN,NaN,LAX,LOS ANGELES INTL,...,0.0,0.0,588.0,VMC,TAXI,Probable Cause,04-12-2014,588.0,0.0,BOEING 747
4171,20001214X42331,Accident,ATL83FA140,1983-03-20,"CROSSVILLE, TN",United States,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,IMC,CRUISE,Probable Cause,02-05-2011,2.0,1.0,PIPER PA-28-140
4285,20001214X42672,Accident,FTW83LA177,1983-04-02,"MCKINNEY, TX",United States,NaN,NaN,TX05,AERO COUNTRY,...,0.0,0.0,4.0,VMC,STANDING,Probable Cause,17-10-2016,5.0,0.2,DE HAVILLAND DHC-6
6760,20001214X45013,Incident,CHI84IA041,1983-11-08,"CHICAGO, IL",United States,NaN,NaN,ORD,O'HARE,...,0.0,0.0,100.0,VMC,TAXI,Probable Cause,11-06-2018,100.0,0.0,BOEING 727-200
6806,20001214X45188,Accident,NYC84LA028,1983-11-13,"MARTHA'S VINEYARD, MA",United States,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,VMC,CLIMB,Probable Cause,05-05-2011,1.0,0.0,BEECH C35

In [16]:
# Preview cleaned values in a table
df[['Engine.Type', 'Weather.Condition', 'Number.of.Engines', 
    'Purpose.of.flight', 'Broad.phase.of.flight']].head()

,Engine.Type,Weather.Condition,Number.of.Engines,Purpose.of.flight,Broad.phase.of.flight
4150,TURBO FAN,VMC,4.0,NaN,TAXI
4171,RECIPROCATING,IMC,1.0,PERSONAL,CRUISE
4285,TURBO PROP,VMC,2.0,SKYDIVING,STANDING
6760,TURBO FAN,VMC,3.0,UNKNOWN,TAXI
6806,RECIPROCATING,VMC,1.0,PERSONAL,CLIMB

Column Removal Based on Missing Data

We removed columns with fewer than 20,000 non-null values. These columns contained too many missing entries to support reliable analysis and were not essential to the client's business questions.

In [17]:
# Step 1: Get non-null counts
non_null_counts = df.notna().sum().sort_values()

# Step 2: Display columns with fewer than 20,000 non-null values
non_null_counts[non_null_counts < 20000]

Schedule                   1597
Broad.phase.of.flight      2445
Air.carrier                7614
Airport.Code              11168
Airport.Name              11268
Report.Status             13558
Purpose.of.flight         14185
Engine.Type               14242
Weather.Condition         14805
Longitude                 15111
Latitude                  15114
Aircraft.damage           15230
Publication.Date          15488
Injury.Rate               15539
Estimated.Passengers      15539
Injury.Severity           15564
FAR.Description           15712
Registration.Number       15767
Country                   15784
Total.Uninjured           15785
Total.Minor.Injuries      15785
Total.Serious.Injuries    15785
Event.Id                  15785
Amateur.Built             15785
Number.of.Engines         15785
Model                     15785
Make                      15785
Aircraft.Category         15785
Location                  15785
Event.Date                15785
Accident.Number           15785
Investigation.Type        15785
Total.Fatal.Injuries      15785
Plane.Type                15785
dtype: int64

In [18]:
# Step 8: Column Removal Based on Missing Data

# 1. Count non-null values per column
non_null_counts = df.notna().sum().sort_values()

# 2. Show how many columns would meet the 20,000 threshold
print("Columns with > 20,000 non-nulls:", (non_null_counts > 20000).sum())

# 3. Decide whether to drop or not
if (non_null_counts > 20000).sum() == 0:
    print("No columns have more than 20,000 non-nulls â€” skipping column removal.")
else:
    columns_to_keep = non_null_counts[non_null_counts > 20000].index
    df = df[columns_to_keep]

Columns with > 20,000 non-nulls: 0
No columns have more than 20,000 non-nulls â€” skipping column removal.

In [19]:
df.to_csv("cleaned_aviation_data.csv", index=False)